body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-top: 0;
}

h2 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.add-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-task input {
  width: calc(100% - 110px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-task button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.add-task button:hover {
  background-color: #45a049;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-item p {
  margin: 0;
  flex-grow: 1;
  margin-left: 10px;
}

.todo-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.todo-item button img {
  width: 20px;
  height: 20px;
}

.todo-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

ul {
  padding: 0;
  list-style: none;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

ul li:nth-child(odd) {
  background-color: #f9f9f9;
}